# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.playground.xcworkspace
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Swift / SPM
.build/
.swiftpm/
Packages/
Package.resolved

# Editor
*.swp
*~
.idea/
